- name: Deploy demo-spring with Helm
  hosts: localhost
  gather_facts: false

  vars:
    release_name: demo-spring
    namespace: default
    chart_path: "{{ playbook_dir }}/../demo-spring-chart"
    image_repo: demo-spring
    image_tag: "25-1"

  tasks:
    - name: Helm upgrade/install
      ansible.builtin.command: >
        helm upgrade --install {{ release_name }} {{ chart_path }}
        --namespace {{ namespace }}
        --create-namespace
        --set image.repository={{ image_repo }}
        --set image.tag={{ image_tag }}
        --set image.pullPolicy=IfNotPresent
